html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}
p {
  text-align: justify;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 1.5px;
}
.fas {
  color: #000;
  -webkit-transition: padding 0.5s; /* For Safari 3.1 to 6.0 */
  transition: padding 0.5s;
  transition-timing-function: ease;
}
.fas:hover {
  padding: 1rem 0rem;
}
h1,h2 {
  font-family: "Pacifico", cursive;
}
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
  position: fixed;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.parallax {
  background-attachment: fixed;
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 12rem 0rem;
}
.intro {
  background-image: url(../images/1st-slide.jpg);
}
.content-overlay {
  background: #0a0a0a8c;
  padding: 5rem 0rem 5rem 5rem;
  height: auto;
  border-radius: 50%;
}
.intro h1 {
  font-size: 5rem;
}
.intro li {
  font-size: 1.5rem;
}
.intro img {
  height: 300px;
}

@media (max-width: 768px) and (min-width: 426px) {
  .offset-5 {
    margin-left: 52%;
  }
  .web {
    padding: 10rem 3rem 6rem !important;
  }
}

@media (max-width: 768px) {
  .pl-3 {
    padding-left: 0rem !important;
  }
  .ml-5 {
    margin-left: 0rem !important;
  }
  h1,.fa-4x{
    font-size:2.1rem!important
  }
  #services h1 {
    margin: -2.5rem 0rem 1rem 2.5rem!important;
  }
}
@media (max-width: 425px) {
  .offset-3 {
    margin-left: 25%;
  }
  .intro img {
    height: 200px;
  }
  .offset-5 {
    margin-left: 50%;
  }
  .web {
    padding: 8rem 4rem !important;
  }
  h1,.fa-4x{
    font-size:1.8rem!important
  }
  #services h1 {
    margin: -2.5rem 0rem 1rem 0.5rem!important;
  }
}
@media (max-width: 375px) {
  #services h1 {
    margin: -2.5rem 0rem 1rem 2.5rem!important;
  }
}
#services a {
  color: #fff;
  text-decoration: none;
}
#services h1 {
  margin: -4rem 0rem -4rem 6rem;
  text-align: left
}
.web {
  background-color: #000;
  padding: 15rem 5rem 0rem 8rem;
}
/* .text{
    border-top: 10px solid #FFF;
    border-top-right-radius: 50%;
    border-right: 10px solid #FFF;
    padding: 0rem 10rem 0rem 5rem;
    border-radius: 20px
  } */
.img1{
  padding: 10rem 0rem 10rem 12rem
}
/* .nav-item{
  border:0.5px solid rgb(0, 123, 255);
  border-bottom: 0px;
  border-radius: 5px
} */
.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%; }
  .gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; }
  .gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }
  
  @media (max-width: 450px) {
  .gallery {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
  column-width: 100%;
  }
  }
  
  @media (max-width: 400px) {
  .btn.filter {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  }
  }


  section.pricing {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }
  
  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }
  #portfolio{
    background-image: url(../images/port_bg.jpg); 
  }