<footer id="contact">
    <div class="container d-flex h-100">
        <div class="row h-100 justify-content-center">
            <div class="col-lg-3 col-md-12">
                <h3 class="my-3">Links</h3>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2">
                        <a class="foot-link" href="{{.Site.BaseURL}}about/us">About us</a>
                    </li>
                    <li class="mb-2">
                        <a class="foot-link" href="{{.Site.BaseURL}}consulting/for-content-and-business/">Consulting</a>
                    </li>
                </ul>
                <h4 class="my-3">Portfolio</h4>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2">
                        <a class="foot-link"
                            href="{{.Site.BaseURL}}web-solutions/website-designing-and-development/#portfolio">Website
                            designing</a>
                    </li>
                    <li class="mb-2">
                        <a class="foot-link"
                            href="{{.Site.BaseURL}}branding-services/branding-logo-graphics-designing/#portfolio">Branding</a>
                    </li>
                    <li class="mb-2">
                        <a class="foot-link"
                            href="{{.Site.BaseURL}}content-writing-services/and-proofreading/#works">Content writing</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-12">
                <!-- <img src="/images/logo.png" alt="" class="img-fluid"> -->
                <p>If your business needs branding, a website, or contents we are here for you. On the other hand, if
                    you are doing well already; we will make you reach further heights by consulting your organization.
                </p>
                <h3 class="my-3">Reach us</h3>
                <ul class="list-unstyled mb-0">
                    <li class="mb-2">
                        <img src="/images/smartphone.png" class="img-fluid icon filter" alt="Call TenSketch mobile">
                        <a href="tel:9840166419" title="call" aria-label="TenSketch mobile number">+91-9840166419</a>
                    </li>
                    <li class="mb-2">
                        <img src="/images/mail.png" class="img-fluid icon filter" alt="email to TenSketch">
                        <a href="mailto:bala@tensketch.com" title="Click to send email" aria-label="TenSketch email id"
                            target="_top">bala@tensketch.com</a>
                    </li>
                </ul>
                <div class="social mt-3">
                    <ul class="list-unstyled d-flex">
                        <li>
                            <a href="https://wa.me/917010633516" target="_blank" rel="noopener"
                                title="send a whatsapp message" aria-label="send whatsapp message">
                                <img src="/images/whatsapp.png" class="img-fluid lozad m-1" alt="send whatsapp enquiry">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/tensketch285/" target="_blank" rel="noopener"
                                aria-label="fb page of TenSketch"><img src="/images/facebook.png"
                                    class="img-fluid lozad m-1" alt="like us on facebook"></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/tensketch" target="_blank" rel="noopener"
                                aria-label="linkedin page of TenSketch"><img src="/images/linkedin.png"
                                    class="img-fluid lozad m-1" alt="follow us on linkedin"></a>
                        </li>
                        <!-- <li>
                            <a href="https://www.facebook.com/tensketch285/" target="_blank" rel="noopener"
                                aria-label="twitter page of TenSketch"><i class="fab fa-twitter"></i></a>
                        </li> -->
                        <li class="mr-2">
                            <a href="https://www.youtube.com/channel/UCa3k-JV9xA6ncMGKaZCyU-Q?view_as=subscriber"
                                target="_blank" rel="noopener" aria-label="fb page of TenSketch"><img
                                    src="/images/youtube.png" class="img-fluid lozad m-1"
                                    alt="subscribe to our youtube channel"></a>
                        </li>
                        <li>
                            <a href="https://g.page/Website-designers-Chennai?share" target="_blank" rel="noopener"
                                aria-label="google business page link of TenSketch"
                                title="find location in google business page"><img src="/images/google.png"
                                    class="img-fluid lozad m-1" alt="find us on Google my business"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 mb-5">
                <h4 class="my-3">We are waiting to work with you. Drop-in your details for a <del
                        title="Stay safe at Home">cup of coffee</del> <ins>zoom meeting</ins>.</h4>
                <form name="Contact" method="POST" data-netlify="true" data-netlify-recaptcha="true">
                    <div class="form-group">
                        <label style="text-align:left" for="name">Name</label>
                        <input type="text" class="form-control" name="Name" placeholder="Enter your name"
                            aria-label="Name" required>
                    </div>
                    <div class="form-group">
                        <label for="contact">Contact #</label>
                        <input type="tel" class="form-control" name="Contact #" placeholder="your 10 digit mobile no."
                            aria-label="contact_no" minlength="10" maxlength="10" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="Email id" placeholder="abc@somemail.com"
                            aria-label="e_mail_address" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" name="Message" placeholder="Enter your message" rows="2"
                            aria-label="message" spellcheck="false" required></textarea>
                    </div>
                    <div data-netlify-recaptcha="true" class="recaptcha"></div>
                    <input type="submit" class="btn btn-primary btn-block mt-3" value="Submit"
                        aria-label="Submit button">
                </form>
            </div>
        </div>
    </div>
</footer>
<!-- Copyrights -->
<footer class="bottom-footer">
    <div class="container">
        <p class="text-center mb-0">Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>&nbsp;<a href="https://www.tensketch.com/"
                aria-label="TenSketch website developer company link">TenSketch</a></p>
    </div>
</footer>