<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href="#"><img src="/images/logo.png" alt="TenSketch logo"></a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services" aria-label="land (jump) to services section">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact" aria-label="land (jump) to contact section">
            <img src="/images/phone.png" class="img-fluid icon" alt="call TenSketch">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>