@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Josefin+Sans:wght@400;700&display=swap");
@font-face {
  font-family: "enchanting_celebrations";
  src: url("/enchanting_celebrations-webfont.woff2") format("woff2"),
    url("/enchanting_celebrations-webfont.woff") format("woff"),
    url("/enchanting_celebrations-webfont.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}
h1 {
  font-family: "enchanting_celebrations", sans-serif;
}
h2,
h3,
h4 {
  font-family: "DM Serif Display", serif;
}
h4 {
  line-height: 1.7;
}
p {
  text-align: justify;
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: 1.5px;
}
li {
  font-size: 1.1rem;
  line-height: 1.6rem;
}
a:hover {
  text-decoration: none;
}
.pt-8 {
  padding-top: 8rem;
}
.py-6 {
  padding: 6rem 0;
}
.carousel-inner {
  height: 100vh;
}
#carouselId .carousel-item {
  height: 100vh;
  background: #c4c4c45d;
}
#carouselId .carousel-inner::before {
  content: url(/images/bubble.png);
  position: absolute;
  opacity: 0.2;
  left: 0;
  top: 0;
}
#carouselId h1 {
  line-height: 1.5;
  font-size: 3.5rem;
  font-family: "DM Serif Display", serif;
}
.slide1 img {
  height: 400px;
}
.slide4 img {
  height: 300px;
}
.nithin {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 43%,
    rgba(61, 61, 61, 1) 75%,
    rgba(106, 106, 106, 1) 87%,
    rgba(144, 144, 144, 1) 93%,
    rgba(217, 217, 217, 1) 96%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 100vh;
}
/* .intro {
  background: radial-gradient(#fff, #2d2d2d);
  height: 100vh;
}
#intro {
  height: 300px;
  animation: logo;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes logo {
  0% {
    bottom: -100vh;
  }
  100% {
    bottom: 0;
  }
}
.icon-a {
  height: 40px;
  margin-left: 10rem;
  animation: fadeInDown;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: both;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    top: -120px;
    display: none;
  }
  100% {
    opacity: 1;
    top: 0;
  }
} */
.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-size: 1.2rem;
  letter-spacing: 3px;
  padding-left: 1rem;
}
.navbar-brand img {
  height: 70px;
}
.nav-pills .nav-link {
  color: #000;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #000;
}
.dropdown-item {
  text-align: right;
}
.phone-link {
  letter-spacing: 1px !important;
  font-size: 1rem !important;
  padding-right: 0.3rem !important;
  margin-top: 0.5rem;
}
.icon {
  margin: 0 0.3rem 0.5rem 0;
}
@media (max-width: 320px) {
  .icon {
    height: 20px !important;
  }
}
.navbar-toggler {
  padding: 0.15rem 0.35rem;
  font-size: 1rem !important;
}
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
  position: fixed;
  animation: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    top: -120px;
  }
  100% {
    top: 0;
  }
}
#about {
  height: 100vh;
}
#services {
  background: #000000e6;
  color: #fff;
}
#services img {
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(25 25 25), 0 14px 25px rgb(134 134 134 / 77%);
}
.services-des::before {
  content: "";
  background: linear-gradient(90deg, #fff, #353535da);
  width: 50px;
  height: 50px;
  box-shadow: 0 5px 10px rgb(25 25 25), 0 15px 40px rgb(134 134 134 / 77%);
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  opacity: 0.5;
  z-index: -1;
  position: absolute;
  top: -4rem;
  left: 2.8rem;
}
#services h2 {
  letter-spacing: 2px;
}
#services a {
  color: #fff;
  text-decoration: none;
}
.btn {
  border-radius: 5px !important;
}
#portfolio img {
  object-fit: cover;
}
#portfolio .img-fluid:hover {
  box-shadow: 0 0.5rem 1rem 0 rgba(23, 23, 23, 0.5);
}
/* masonry */
.masonry {
  columns: 3;
  column-gap: 2rem;
}
.masonry-item {
  display: inline-block;
  vertical-align: top;
  margin: 1.5rem;
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    columns: 3;
  }
}
@media only screen and (min-width: 1024px) {
  .masonry {
    columns: 4;
  }
}
.masonry-item,
.masonry-content {
  overflow: hidden;
}
.masonry-item {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  transition: filter 0.25s ease-in-out;
}
.masonry-item:hover {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
}
@media (min-width: 992px) {
  .d-lg-block {
    display: inline-block !important;
  }
}
@media (max-width: 600px) {
  .masonry {
    columns: 2;
  }
  #contact .pl-5 {
    padding-left: 0 !important;
  }
}
.btn.focus,
.btn:focus {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
}
.btn-outline-black {
  border: 1px solid;
  margin: 3px;
}
.btn-outline-black:hover {
  background: #212121;
  color: #fff;
  box-shadow: 1px;
}
.btn-outline-black.active {
  background: #212121;
  color: #fff;
}
@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}
.price-table {
  overflow: hidden;
  margin: 20px;
  background: #fff;
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.price-table .price-head {
  padding: 20px;
  background: linear-gradient(45deg, #fff, #707070);
}
.price-table .price-head h4 {
  font-weight: 700;
}
.price-table .price-head h2 {
  font-weight: 600;
}
.price-content ul li {
  padding: 5px 0;
  cursor: pointer;
  transition: 0.5s;
}
.price-content ul li:hover {
  border-left: 15px solid #000;
  border-right: 15px solid #000;
}
.why {
  margin-top: 8rem;
  padding: 0 100px;
  min-height: 100vh;
}
.why::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background: #333;
  z-index: -2;
}
.why::after {
  content: "Why TenSketch";
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 16vw;
  font-weight: 700;
  color: #000;
  opacity: 0.04;
  z-index: -2;
  font-family: "enchanting_celebrations";
}
.content2 {
  padding-top: 10rem;
}
.content2 .bannerText {
  max-width: 500px;
  margin-bottom: 8rem;
}
.content2 .bannerText div {
  display: none;
}
.content2 .bannerText div.active {
  display: initial;
}
.content2 .bannerImg {
  width: 440px;
  height: 440px;
  margin-top: 3rem;
}
.content2 .bannerImg img {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  object-fit: cover;
  opacity: 0;
}
.content2 .bannerImg img.active {
  opacity: 1;
}
.controls {
  bottom: 3rem;
}
.controls li {
  margin-left: 10px;
  cursor: pointer;
  filter: invert(1);
}
.controls li:hover {
  opacity: 0.5;
}
@media (max-width: 1024px) {
  .why {
    padding: 20px 30px;
  }
  .content2 .bannerText {
    margin-right: 3rem;
  }
}
.approach {
  background-color: #000;
}
.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-template-rows: auto;
  grid-gap: 0 125px;
  z-index: 5;
}
.grid .box {
  position: relative;
  height: 400px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid .box::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  transform: skew(2deg, 2deg);
  z-index: -1;
}
.content {
  position: relative;
  padding: 20px;
}
.content h2 {
  justify-content: center;
  position: absolute;
  top: -50px;
  right: 0;
  left: 0;
  font-size: 10em;
  color: rgba(155, 153, 153, 0.247);
  transition: 0.5s;
  cursor: pointer;
}
.box:hover .content h2 {
  top: -140px;
}
.box .content h3 {
  margin: 0 0 15px;
  font-weight: 500;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 2rem;
}
/* .box .content h3 span {
  margin-left: 1rem;
  padding: 5px;
  background: #212121;
  color: #fff;
  font-size: 20px;
} */
.box .content li {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.btn-primary {
  background-color: #212121;
  color: #fff;
  font-size: 1rem;
  border-radius: 0rem;
  border-color: #212121;
  margin: 0 auto;
}
.btn-primary:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #212121;
  border-color: #000;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.1rem #fff;
}
#contact,
#pricing {
  padding-top: 8rem;
}
#carouselId1 .carousel-inner {
  height: 100vh;
  background: radial-gradient(#fff, #2d2d2d);
}
#carouselId1 img {
  border-radius: 50%;
  height: 200px;
}
#carouselId1 p {
  text-align: center;
  color: #fff;
  margin-top: 2rem;
  font-size: 1.5rem;
  letter-spacing: 1.6px;
}
#carouselId1 a {
  color: #fff;
  text-decoration: underline;
}
#clients {
  background: url(/images/smoke-bg1.jpg) no-repeat center;
  background-size: cover;
}
.overlay {
  background-color: rgba(255, 255, 255, 0.418);
}
.slick-slide {
  margin: 0px 20px;
}
.slick-slide img {
  width: 100%;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
#contact {
  background-color: #2f2d2dcf;
  color: #fff;
}
#contact a {
  color: #e4e4e4;
  transition: 0.2s ease-out;
}
#contact a:hover {
  text-decoration: underline;
  position: relative;
  left: 2px;
}
.filter {
  filter: invert(1);
}
del {
  cursor: pointer;
}
.social ul li {
  margin-right: 1rem;
}
.wa {
  height: 20px;
}
.goo {
  height: 28px;
}
.bottom-footer {
  background: #212121;
  color: #fff;
  padding: 2rem 0;
}
.bottom-footer a {
  color: #fff;
}
#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  /* z-index: 999; */
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 10px;
  right: 0;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
#back2Top:hover {
  background-color: #000;
  color: #fff;
}
/* media queries */
@media (max-width: 991px) {
  .navbar-collapse {
    text-align: right;
  }
}
@media (max-width: 991px) and (min-width: 576px) {
  #pricing .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}
@media (max-width: 768px) {
  #carouselId .d-flex {
    flex-direction: column;
  }
  #carouselId .carousel-inner {
    height: 100%;
  }
  .carousel-inner .py-6 {
    padding: 3rem 0;
  }
  #carouselId .carousel-item {
    height: 100%;
  }
  #carouselId h1 {
    line-height: 1.3;
    font-size: 2.5rem;
    text-align: center;
  }
  .slide2 h3,
  .slide2 p,
  .slide4 h2 {
    text-align: center;
  }
  .slide2 ol {
    list-style: none;
    padding: 0;
  }
  .slide2 li {
    text-align: center;
  }
  /* .btn-lg {
    width: 80%;
  } */
  #carouselId .ml-5 {
    margin-left: 0 !important;
  }
  #carouselId .mr-5 {
    margin-right: 0 !important;
  }
  .slide1 img {
    height: 250px;
  }
  .slide3 img {
    height: 100px;
  }
  .slide4 img {
    height: 200px;
  }
  .slide2 .btn {
    margin-bottom: 1rem;
  }
  .slide2 img {
    display: none;
  }
  #carouselId1 .carousel-inner {
    background: #3333338c;
    height: 100%;
  }
  #carouselId1 p {
    margin-top: 1rem;
    font-size: 1.2rem;
    letter-spacing: 1.4px;
  }
  .why {
    height: 50vh;
  }
  .why::before {
    display: none;
  }
  .controls li {
    filter: invert(0);
  }
  .controls {
    bottom: 12rem;
  }
  #contact {
    text-align: center;
  }
  #contact p {
    text-align: center !important;
  }
  .social ul {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  #services {
    text-align: center;
  }
  #services .m-5,
  #services .p-5 {
    margin: 0rem !important;
    padding: 0rem !important;
  }
  #services .pl-5 {
    padding-left: 15px !important;
    padding-top: 3rem;
  }
  .services-des .mt-3 {
    margin-bottom: 3rem;
  }
  .services-des .btn {
    display: block;
    width: 100%;
  }
}
@media (max-width: 576px) {
  p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  #services {
    padding-top: 10rem !important;
  }
  #about .col-md-8 {
    padding: 0 30px;
  }
  #portfolio .col-4 {
    padding-left: 7px !important;
    padding-right: 7px !important;
  }
  #portfolio .my-3 {
    margin-top: 7px !important;
    margin-bottom: 7px !important;
  }
  .why {
    min-height: 100vh;
  }
  .why::after {
    opacity: 0.1;
  }
  .grid .box {
    margin: 2rem;
  }
  .controls {
    bottom: 8rem;
    margin-bottom: 3rem;
  }
  .content2 {
    flex-direction: column-reverse;
    padding-top: 0;
  }
  .content2 .bannerText {
    margin-right: 0rem;
    margin-top: 3rem;
  }
  .content2 .bannerImg {
    width: 100%;
    height: 310px;
    margin-top: 1rem;
  }
  .icons {
    flex-direction: column-reverse;
  }
}
@media (max-width: 425px) {
  #carouselId .carousel-inner {
    height: 100vh;
  }
  .content2 .bannerText {
    margin-top: 0rem;
  }
  .content2 .bannerImg {
    height: 250px;
  }
}
/* @media (max-width: 320px) {
  #intro {
    height: 170px;
  }
} */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  /* #intro {
    height: 160px;
    margin-left: 10rem;
    margin-top: 3rem;
  } */
  .icon-a {
    margin-bottom: 10rem !important;
  }
  .why {
    min-height: 70vh;
  }
  .content2 .bannerImg {
    height: 300px;
  }
}
.my-5rem {
  margin: 5rem auto;
}
