{{define "main"}}
<section class="intro parallax">
    <div class="container">
        <div class="row offset-3">
            <img src="/images/TenSketch-logo.png" class="animated fadeInUp slow" style="height: 300px" alt="">
        </div>
        <div class="row offset-5">
                <a href="#services"><i class="fas fa-chevron-down animated fadeInDown delay-2s fa-3x"></i></a>
        </div>
    </div>
    
</section>
{{end}}
{{define "content"}}
<section id="services">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 web">
                
                    <a href=""><i class="fa fa-code fa-4x"></i><h1>sketches websites</h1></a>
             
                    
            </div>
            <div class="col-md-6">
                    <img src="/images/website-design-symbol.png" class="img-fluid pl-3 ml-5" alt="">
                        
                </div>
        </div>
        
    </div>
</section>
<div class="container">
    <h1>Hi, i'm website designer</h1>
    Veniam laborum culpa aute tempor sit fugiat velit ea consectetur. Occaecat est ad consequat ut esse ad ea est nisi.
    Officia et commodo id ea velit officia incididunt deserunt cillum ad. Laboris aliqua ea adipisicing laboris.
    Adipisicing et ut reprehenderit enim voluptate adipisicing reprehenderit.
    Aliqua ut nostrud proident eiusmod ullamco aute. Duis aliqua tempor id do incididunt exercitation tempor officia
    esse consequat ipsum ad sunt. Consequat laboris aliquip amet mollit proident quis occaecat voluptate velit elit
    fugiat nostrud. Id cillum aliquip deserunt consequat deserunt sit aliqua magna.
    Sint incididunt occaecat nostrud aliquip dolor labore. Officia deserunt qui officia ut quis ad aute. Labore
    voluptate exercitation tempor elit consequat cillum ullamco id sint proident aute nostrud.
    Amet anim laboris ipsum deserunt et cillum sunt esse est commodo. Nostrud veniam aute et consectetur duis sunt quis
    ex reprehenderit ea eiusmod anim ex. Occaecat sit mollit reprehenderit laborum id esse mollit. Sunt aliquip veniam
    sunt fugiat velit. Quis consectetur fugiat voluptate enim aliquip Lorem esse. Voluptate enim duis ut aliquip amet
    officia labore qui dolore Lorem.
</div>
<div class="container">
    <h1>Hi, i'm website designer</h1>
    Veniam laborum culpa aute tempor sit fugiat velit ea consectetur. Occaecat est ad consequat ut esse ad ea est nisi.
    Officia et commodo id ea velit officia incididunt deserunt cillum ad. Laboris aliqua ea adipisicing laboris.
    Adipisicing et ut reprehenderit enim voluptate adipisicing reprehenderit.
    Aliqua ut nostrud proident eiusmod ullamco aute. Duis aliqua tempor id do incididunt exercitation tempor officia
    esse consequat ipsum ad sunt. Consequat laboris aliquip amet mollit proident quis occaecat voluptate velit elit
    fugiat nostrud. Id cillum aliquip deserunt consequat deserunt sit aliqua magna.
    Sint incididunt occaecat nostrud aliquip dolor labore. Officia deserunt qui officia ut quis ad aute. Labore
    voluptate exercitation tempor elit consequat cillum ullamco id sint proident aute nostrud.
    Amet anim laboris ipsum deserunt et cillum sunt esse est commodo. Nostrud veniam aute et consectetur duis sunt quis
    ex reprehenderit ea eiusmod anim ex. Occaecat sit mollit reprehenderit laborum id esse mollit. Sunt aliquip veniam
    sunt fugiat velit. Quis consectetur fugiat voluptate enim aliquip Lorem esse. Voluptate enim duis ut aliquip amet
    officia labore qui dolore Lorem.
</div>
<div class="container">
    <h1>Hi, i'm website designer</h1>
    Veniam laborum culpa aute tempor sit fugiat velit ea consectetur. Occaecat est ad consequat ut esse ad ea est nisi.
    Officia et commodo id ea velit officia incididunt deserunt cillum ad. Laboris aliqua ea adipisicing laboris.
    Adipisicing et ut reprehenderit enim voluptate adipisicing reprehenderit.
    Aliqua ut nostrud proident eiusmod ullamco aute. Duis aliqua tempor id do incididunt exercitation tempor officia
    esse consequat ipsum ad sunt. Consequat laboris aliquip amet mollit proident quis occaecat voluptate velit elit
    fugiat nostrud. Id cillum aliquip deserunt consequat deserunt sit aliqua magna.
    Sint incididunt occaecat nostrud aliquip dolor labore. Officia deserunt qui officia ut quis ad aute. Labore
    voluptate exercitation tempor elit consequat cillum ullamco id sint proident aute nostrud.
    Amet anim laboris ipsum deserunt et cillum sunt esse est commodo. Nostrud veniam aute et consectetur duis sunt quis
    ex reprehenderit ea eiusmod anim ex. Occaecat sit mollit reprehenderit laborum id esse mollit. Sunt aliquip veniam
    sunt fugiat velit. Quis consectetur fugiat voluptate enim aliquip Lorem esse. Voluptate enim duis ut aliquip amet
    officia labore qui dolore Lorem.
</div>
<div class="container">
    <h1>Hi, i'm website designer</h1>
    Veniam laborum culpa aute tempor sit fugiat velit ea consectetur. Occaecat est ad consequat ut esse ad ea est nisi.
    Officia et commodo id ea velit officia incididunt deserunt cillum ad. Laboris aliqua ea adipisicing laboris.
    Adipisicing et ut reprehenderit enim voluptate adipisicing reprehenderit.
    Aliqua ut nostrud proident eiusmod ullamco aute. Duis aliqua tempor id do incididunt exercitation tempor officia
    esse consequat ipsum ad sunt. Consequat laboris aliquip amet mollit proident quis occaecat voluptate velit elit
    fugiat nostrud. Id cillum aliquip deserunt consequat deserunt sit aliqua magna.
    Sint incididunt occaecat nostrud aliquip dolor labore. Officia deserunt qui officia ut quis ad aute. Labore
    voluptate exercitation tempor elit consequat cillum ullamco id sint proident aute nostrud.
    Amet anim laboris ipsum deserunt et cillum sunt esse est commodo. Nostrud veniam aute et consectetur duis sunt quis
    ex reprehenderit ea eiusmod anim ex. Occaecat sit mollit reprehenderit laborum id esse mollit. Sunt aliquip veniam
    sunt fugiat velit. Quis consectetur fugiat voluptate enim aliquip Lorem esse. Voluptate enim duis ut aliquip amet
    officia labore qui dolore Lorem.
</div>
{{end}}