<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary">
              <img class="card-img-top" src="holder.js/100px180/" alt="">
              <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
              </div>
            </div>
        </div>
        <div class="col-md-4">
          <div class="card text-white bg-primary">
            <img class="card-img-top" src="holder.js/100px180/" alt="">
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">Text</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-white bg-primary">
            <img class="card-img-top" src="holder.js/100px180/" alt="">
            <div class="card-body">
              <h4 class="card-title">Title</h4>
              <p class="card-text">Text</p>
            </div>
          </div>
        </div>
    </div>
</div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<!-- navbar animate on scroll -->
<script>
    $(window).scroll(function () {
        if ($(document).scrollTop() > 100) {
            $('.navbar').addClass('animated fadeInDown slow');
        } else {
            $('.navbar').removeClass('animated fadeInDown slow');
        }

        if ($(document).scrollTop() > 100) {
            $('.navbar').addClass('affix');
        } else {
            $('.navbar').removeClass('affix');
        }
    });
</script>
<script>
  $(document).ready(function(){
  $(".intro a").on("click", function(){
    $('.web') .addClass('animated rotateIn slow');
    $('.web i') .addClass('animated fadeInDown delay-2s slow');
    $('.web h1') .addClass('animated fadeInUp delay-3s');
    $('#services img') .addClass('animated flipInY slow');
  });
});
</script>