<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- COMMON TAGS -->
    <title>TenSketch-Website Designing and Branding</title>
    <!-- Search Engine -->
    <meta name="description" content="Web designing, development, and branding company in Chennai. ">
    <meta name="image" content="https://www.tensketch.com/ogimage.jpg">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="TenSketch-Website Designing and Branding">
    <meta itemprop="description" content="Web designing, development, and branding company in Chennai. ">
    <meta itemprop="image" content="https://www.tensketch.com/ogimage.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="TenSketch-Website Designing and Branding">
    <meta name="og:description" content="Web designing, development, and branding company in Chennai. ">
    <meta name="og:type" content="website">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/pacific.css">
</head>